@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@layer base {
    body {
      font-family: 'Roboto', sans-serif;
      letter-spacing: .05em
    }
  }


@tailwind base;
@tailwind components;
@tailwind utilities;